<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is home page</title>
</head>
<body>
	<section
		class="banner d-flex justify-content-center align-items-center ">
		<div class="text-center">
			<h1 class="font-weight-bold">Smart Contact Manager</h1>
			<p>Start managing your contacts in a smarter way. We provide an
				efficient and intuitive solution<br/> for organizing and handling your
				contacts seamlessly.</p>

			<form th:action="@{/signup/}" method="get">
				<button class="btn bg-primary btn-lg text-white">Get Start</button>
			</form>


		</div>
	</section>
</body>
</html>